.o-grid {
  display: grid;
  gap: 1rem;

  &--no-gap {
    gap: 0;
  }

  &--2-cols {
    @include grid-cols(2);
  }

  &--3-cols {
    @include grid-cols(3);
  }

  &--4-cols {
    @include grid-cols(4);
  }

  &--auto-fit {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  &--auto-fill {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
} 